* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    color: var(--texto);
    font-family: 'inter', sans-serif;
    line-height: 1.5;
    width: 100vw;
    height: 95vh;
}

a {
    color: var(--links);
    text-decoration: none;
}

header,
footer, aside {
    padding: 16px;
    background-color: var(--tarjeta);
    border: 2px solid var(--tarjeta); 
    box-shadow: 0 0 10px 3px rgba(52, 152, 219, 0.5);
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 10px;
}

article{
    margin-left: 10%;
    width: 70%;
    background-color: var(--tarjeta);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 10px;
    margin-right: 5%;
}

aside{
    margin-top: -21%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

h1{
    font-weight: bolder;
    color: var(--titulo);
}

h2{
    font-weight: bolder;
    color: var(--titulo);
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}


