.barranavegacion {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
  height: 35x;
  align-items: center;
}
.socials {
  margin-left: auto; 
  display: flex;
  gap: 10px; 
}

  img.logo {
    width: 60px;
  }


.socialmedia {
  height: 24px;
  width: auto;
  cursor: pointer;
}

.listadoblogs{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listadoblogs img{
  height: 120px;
  width: 200px;
}

.slider {
  width: 60%;
  height: 35%;
  position: relative;
  left: 11.5%;
}

.zonaslider{
background-size: cover;
background-position: center;
height: 100%;
width: 100%;
animation: efecto infinite 20s;
border-radius: 10px;
}

@keyframes efecto {
  0% {
    background-image: url(../assets/img/gameboy.jpg);
  }
  20% {
    background-image: url(../assets/img/atari.jpg);
  }
  40% {
    background-image: url(../assets/img/nes.jpg);
  }
  60% {
    background-image: url(../assets/img/play1-1.jpeg);
  }
  80% {
    background-image: url(../assets/img/gameboy1.jpg);
  }
  100% {
    background-image: url(../assets/img/play1-2.jpeg);
  }
}

.titulo {
  text-align: center;
  padding: 30px;
}
.menu{
  margin-left: 4px;
}
.submenu {
  position: absolute;
  display: none;
  list-style: none;
  padding: 10px 0;
  background-color: rgb(var(--semitransparente)); 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease; 
  z-index: 100; 
}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submenu li:hover {
  background-color: var(--tarjeta); 
}

// ARTICULOS!


.fila1 {
  height: 40%;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  // background-color: black;
  margin: 30px;
}

.imagenprincipal {
  width: 40%;
  height: 100%;
  margin-left: 10%;
}

.articulo1 {
  height: 100%;
  width: auto;
  margin: 0;
  margin-right: 10%;
}

.articulo1 h1{
  font-size: 30px;
}

.fila2 {
  height: 40%;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  // background-color: black;
  margin: 30px;
}

.imagensecundaria {
  width: 20%;
  height: 100%;
  margin: 0%;
}

.articulo2 {
  height: 100%;
  width: 58%;
  margin: 0;
  margin-left: 10%;
  background-color: var(--tarjeta2);
}