:root {
    --fondo: #99ccff;      
    --texto: #002244;      
    --tarjeta: #4da6ff;    
    --links: #0055cc;      
    --titulo: #004080;   
    --semitransparente: 153, 204, 255, 0.9;
}

body.dark {
    --fondo: #0a1a33;      
    --texto: #cce6ff;      
    --tarjeta: #3380ff;    
    --links: #3366cc;      
    --titulo: #154db8;     
}