:root {
    --fondo: #99ccff;      
    --texto: #002244;      
    --tarjeta: #4da6ff;    
    --links: #0055cc;      
    --titulo: #004080;   
    --semitransparente: 153, 204, 255, 0.9;
    --tarjeta2: #66b3ff;
}

@mixin dark-mode {
    --fondo: #0f233f;
    --texto: #cae0f6;
    --tarjeta: #4a90ff;
    --tarjeta2: #2b3b55;
    --links: #99ccff;
    --titulo: #80d0ff;
    --semitransparente: 15, 35, 63, 0.9;
}

body.dark {
    @include dark-mode;
}
