@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
:root {
  --fondo: #99ccff;
  --texto: #002244;
  --tarjeta: #4da6ff;
  --links: #0055cc;
  --titulo: #004080;
  --semitransparente: 153, 204, 255, 0.9;
  --tarjeta2: rgb(0, 145, 255);
}

body.dark {
  --fondo: #0a1a33;
  --texto: #cce6ff;
  --tarjeta: #3380ff;
  --links: #3366cc;
  --titulo: #154db8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  color: var(--texto);
  font-family: "inter", sans-serif;
  line-height: 1.5;
  width: 100vw;
  height: 95vh;
}

a {
  color: var(--links);
  text-decoration: none;
}

header,
footer, aside {
  padding: 16px;
  background-color: var(--tarjeta);
  border: 2px solid var(--tarjeta);
  box-shadow: 0 0 10px 3px rgba(52, 152, 219, 0.5);
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  border-radius: 10px;
}

article {
  margin-left: 10%;
  width: 70%;
  background-color: var(--tarjeta);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-right: 5%;
}

aside {
  margin-top: -21%;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}

h1 {
  font-weight: bolder;
  color: var(--titulo);
}

h2 {
  font-weight: bolder;
  color: var(--titulo);
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}

main {
  display: flex;
  padding: 20px;
  margin: 10px;
}

.barranavegacion {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
  height: 35x;
  align-items: center;
}

.socials {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

img.logo {
  width: 60px;
}

.socialmedia {
  height: 24px;
  width: auto;
  cursor: pointer;
}

.listadoblogs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listadoblogs img {
  height: 120px;
  width: 200px;
}

.slider {
  width: 60%;
  height: 35%;
  position: relative;
  left: 11.5%;
}

.zonaslider {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  animation: efecto infinite 20s;
  border-radius: 10px;
}

@keyframes efecto {
  0% {
    background-image: url(../assets/img/gameboy.jpg);
  }
  20% {
    background-image: url(../assets/img/atari.jpg);
  }
  40% {
    background-image: url(../assets/img/nes.jpg);
  }
  60% {
    background-image: url(../assets/img/play1-1.jpeg);
  }
  80% {
    background-image: url(../assets/img/gameboy1.jpg);
  }
  100% {
    background-image: url(../assets/img/play1-2.jpeg);
  }
}
.titulo {
  text-align: center;
  padding: 30px;
}

.menu {
  margin-left: 4px;
}

.submenu {
  position: absolute;
  display: none;
  list-style: none;
  padding: 10px 0;
  background-color: rgb(var(--semitransparente));
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 100;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submenu li:hover {
  background-color: var(--tarjeta);
}

.fila1 {
  height: 40%;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin: 30px;
}

.imagenprincipal {
  width: 40%;
  height: 100%;
  margin-left: 10%;
}

.articulo1 {
  height: 100%;
  width: auto;
  margin: 0;
  margin-right: 10%;
}

.articulo1 h1 {
  font-size: 40px;
}

.fila2 {
  height: 40%;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin: 30px;
}

.imagensecundaria {
  width: 20%;
  height: 100%;
  margin: 0%;
}

.articulo2 {
  height: 100%;
  width: 58%;
  margin: 0;
  margin-left: 10%;
  background-color: var(--tarjeta2);
}/*# sourceMappingURL=main.css.map */